body {
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: rgb(86, 202, 248);
}

.logo-product {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 20%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-container {
  flex-direction: column;
  max-width: 1024px;
}

.login-signup-buttons,
.main-content-title,
.main-content-subtitle {
  display: flex;
  justify-content: center;
  align-content: center;
}

.main-content {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-bottom: 30px;
}

.home:hover,
.about:hover,
.pages:hover,
.blog:hover,
.contact:hover,
.login:hover,
.sign-up:hover {
  background-color: rgb(151, 148, 148);
}

.home,
.about,
.pages,
.blog,
.contact,
.login,
.sign-up {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 135%;
  border: none;
  background: none;
  transition: 0.5s;
  font-family: "Times New Roman", Times, serif;
}

.logo {
  height: 100%;
}

.main-content-title {
  font-size: 125px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.main-content-subtitle {
  font-size: 35px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.main-content-buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: "Times New Roman", Times, serif;
  gap: 10px;
}

.ratings-section {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: "Times New Roman", Times, serif;
}

.main-content-image {
  height: 24px;
  padding-right: 5px;
}

.main-content-watch-demo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-page-image {
  width: 100%;
  height: auto;
}

.main-content-signup,
.main-content-watch-demo {
  border-radius: 12px;
}

.ratings-section-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
}

.review-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.ratings-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.ratings-section-review-list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}

.review-stars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.ratings-section-review-list-first-option,
.ratings-section-review-list-second-option,
.ratings-section-review-list-third-option {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.analytics-section-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.analytics-section-top-text {
  font-size: 45px;
}

.analytics-section-top-button {
  font-size: 20px;
  border-radius: 15px;
}

.analytics-section-top-graphs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.analytics-section-top-graphs-one,
.analytics-section-top-graphs-two,
.analytics-section-top-graphs-three {
  width: 356px;
  padding: 10px;
}

.analytics-section-top-graphs-one-title,
.analytics-section-top-graphs-two-title,
.analytics-section-top-graphs-three-title {
  font-size: 30px;
}

.analytics-section-top-graphs-one-paragraph,
.analytics-section-top-graphs-two-paragraph,
.analytics-section-top-graphs-three-paragraph {
  font-size: 22px;
}

.revenue-section-outer-information-subtitle {
  font-size: 25px;
  font-weight: bold;
}

.revenue-section-outer-information-title {
  font-size: 52px;
}

.revenue-section-outer-information-paragraph {
  font-size: 20px;
}

.revenue-section-outer-container {
  width: auto;
}

.revenue-section-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  gap: 10px;
}

.revenue-section-outer-information-side-images-one {
  margin-top: 15px;
}

.revenue-section-outer-information-side-images-two {
  margin-top: 100px;
}

.revenue-section-outer-information-side-images-three {
  margin-top: 105px;
}

.integration-section {
  margin-top: 20px;
}

.integration-section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.integration-section-title-text {
  font-size: 52px;
  width: 50%;
}

.integration-section-title-button {
  font-size: 20px;
  padding: 15px;
  border-radius: 15px;
}

@keyframes imageAnimationOne {
  from {
    left: 0;
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes imageAnimationTwo {
  from {
    left: 0;
  }
  to {
    transform: translateX(-100%);
  }
}

.integration-section-moving-images-section-one,
.integration-section-moving-images-section-two {
  overflow: hidden;
}

.integration-section-moving-images-one {
  display: flex;
  margin: 5px;
  transform: translateX(-100%);
  flex-direction: row;
  animation: imageAnimationOne 10s linear infinite;
}

.integration-section-moving-images-two {
  display: flex;
  margin: 5px;

  flex-direction: row;
  animation: imageAnimationTwo 10s linear infinite;
}

.integration-section-moving-images-inner-container {
  display: flex;
  margin: 5px;
  gap: 30px;
}

.qna-section-text {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 55px;
}

.qna-section-outer-section {
  display: flex;
  flex-direction: column;
}
